body{
    background-color: rgb(205, 229, 244);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form-courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
select{
    margin-bottom: 1.5em;
    width: 60px;
    height: 60px;
}
li{
    background-color: rgba(12, 12, 114, 0.624);
    color: white;
    padding: 0.7em;
    border-radius: 8px;
    margin-bottom: 1em;
    a{
        color: white;
    }
}
#clearbutton{
    border: none;
    color: rgb(255, 0, 0);
    background-color: white;
    width: fit-content;
    height: 3em;
    border-radius: 8px;
    padding: 0 0.8em;
}
#add{
    border: none;
    color: white;
    background-color: darkblue;
    width: fit-content;
    padding: 0 0.8em;
    height: 3em;
    border-radius: 8px;
}
#add:hover{
    background-color: rgba(12, 12, 114, 0.624);
    cursor: pointer;
}
#clearbutton:hover{
    background-color: #ddd;
    cursor: pointer;
}
@media (max-width: 800px){
    li{
        font-size: 0.8em;
    }
    h1{
        font-size: 1.7em;
        font-weight: 600;
    }
    h2{
        font-size: 1.2em;
        font-weight: 500;
    }
    label{
        font-size: 1em;
        font-weight: 300;
    }
    input{
        border: 2px #ddd;
        width: 150px;
        height: 25px;
        border-radius: 6px;
        margin-bottom: 1.5em;
    }
}
@media (min-width: 801px){
    h1{
        font-weight: 600;
    }
    h2{
        font-size: 1.3em;
        font-weight: 500;
    }
    label{
        font-size: 1.1em;
        font-weight: 300;
    }
    input{
        border: 2px #ddd;
        width: 250px;
        height: 30px;
        border-radius: 6px;
        margin-bottom: 1.5em;
    }
}
